$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-family-headers: Roboto Condensed,Helvetica,Arial,sans-serif;
$font-color: #212529;
$font-size: 14px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: $font-family-headers;
}

h1 {
  font-weight: 400;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 30px;
}

#app {
  font-family: $font-family;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
  line-height: 20px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  float: left;
  background-color: #f2f2f2;
}

#content {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 20px 15px;
  width: 400px;
  height: 240px;
  max-width: 100%;
  @media (max-width: 499px) {
    width: calc(100% - 30px);
    left: 15px;
    right: 15px;
  }
}

.centered {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.centercontent {
  text-align: center;
}
